<% content_for :breadcrumbs do %>
    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/">New patient</a></li>
    <% unless params[:patient_id].nil? %>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/">Add medication</a></li>
    <% end %>
<% end %>

<h3>Please Choose from the options below</h3>
<%= form_with model: @medication do |medication| %>

    <%= medication.hidden_field :patient_id, value: @patient.id %>

    <fieldset class="nhsuk-fieldset">
        <div class="nhsuk-form-group">
            <%= medication.label :drug_id, 'Drug', class: 'nhsuk-label' %>
            <%= medication.collection_select(:drug_id, @drugs, :id, :full_name, {}, {class: 'nhsuk-select'}) %>
        </div>
        <div class="nhsuk-form-group">
            <%= medication.label :dose, 'How many tablets/capsules per dose?',  class: 'nhsuk-label' %>
            <%= medication.number_field :dose, value: 2, step: 1, class: 'nhsuk-input nhsuk-input--width-5' %>
        </div>
        <div class="nhsuk-form-group">
            <%= medication.label :frequency, 'How many times a day do you take your dose?',  class: 'nhsuk-label' %>
            <%= medication.number_field :frequency, value: 1, step: 1, class: 'nhsuk-input nhsuk-input--width-5' %>
        </div>
        <div class="nhsuk-form-group">
        <div class="nhsuk-checkboxes">

             <div class="nhsuk-checkboxes__item">
            <%= medication.check_box :add_another, class: 'nhsuk-checkboxes__input' %>
            <%= medication.label :add_another, 'I want to add another medication',  class: 'nhsuk-label nhsuk-checkboxes__label' %>
        </div></div>
        </div>
    </fieldset>

    <div>
      <%= medication.submit 'Submit', class: 'nhsuk-button' %>
      <% if @patient.medications.any? %>
        <p>
            <%= link_to 'Skip', new_patient_reduction_path(@patient), class: 'nhsuk-link' %>
        </p>
      <% end %>
    </div>
<% end %>