<% content_for :breadcrumbs do %>
  <li class="nhsuk-breadcrumb__item"><%= link_to 'New patient', root_path, class: 'nhsuk-breadcrumb__link' %></li>
  <li class="nhsuk-breadcrumb__item"><%= link_to 'Add medication', new_medication_path(patient_id: @patient.id), class: 'nhsuk-breadcrumb__link' %></li>
  <li class="nhsuk-breadcrumb__item"><%= link_to 'Reduction plan', new_patient_reduction_path(@patient), class: 'nhsuk-breadcrumb__link' %></li>
<% end %>

<%= form_with model: [@patient, @reduction] do |reduction| %>
  <fieldset class="nhsuk-fieldset">
    <div class="nhsuk-form-group">
      <%= reduction.label :drug_id, 'Please choose the medication you would like to reduce', class: 'nhsuk-label' %>
      <% medications = [] %> 
      <% @patient.medications.each { |m| medications << [m.drug.full_name, m.id] } %>
      <%= reduction.select(:medication_id, options_for_select(medications), {}, {class: 'nhsuk-select'}) %>
    </div>
    <div class="nhsuk-form-group">
      <%= reduction.label :days, 'Over many weeks would you like to the reduction plan to take place?', class: 'nhsuk-label' %>
      <%# reduction.number_field :days, value: 7, step: 7, class: 'nhsuk-input nhsuk-input--width-5' %>
      <% weeks = [] %>
      <% 52.times { |i| weeks << [(i+1), (i+1)*7] } %>
      <%= reduction.select(:days, options_for_select(weeks), {}, { class: 'nhsuk-select' })  %>
    </div>
  </fieldset>

    <div>
      <%= reduction.submit 'Submit', class: 'nhsuk-button' %>
    </div>
<% end %>

