<% content_for :breadcrumbs do %>
  <li class="nhsuk-breadcrumb__item"><%= link_to 'Add medication', root_path, class: 'nhsuk-breadcrumb__link' %></li>
  <li class="nhsuk-breadcrumb__item"><%= link_to 'Change reduction time', new_medication_reduction_path(@medication), class: 'nhsuk-breadcrumb__link' %></li>
  <li class="nhsuk-breadcrumb__item"><%= link_to 'Show plan', medication_reduction_path(@medication, @reduction), class: 'nhsuk-breadcrumb__link' %></li>
<% end %>

<p>Drug: <%= @medication.drug.full_name %>
<br />Dose: <%= @medication.dose %>
<br />Frequency: <%= @medication.frequency %> times a day
<br /><strong>Morphine Equivalent:</strong> <%= @medication.morphine_equivalent %>mg</p>


<% if @reduction.days > 21 %>
  <%= render 'weeks' %>
<% else %>
  <%= render 'days' %>
<% end %>
